name: Generate Snapshot Feature
on:
  push:
    branches:
      - 'features/**'
jobs:
  Build-Dockerfile:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Install JQ to parse JSON
        run: sudo apt-get install -y jq

      - name: Extract metadata (tags) for Docker
        run: echo 'IMAGE_TAG=$(cat example-app/composer.json | jq .version -r)' >> $GITHUB_ENV
      - name: Building Docker Image using Dockerfile
        run: docker build -t noroyaru/bootcamp:${{ env.IMAGE_TAG }} .

      - name: Authentication on Docker Hub  
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKERHUB_LOGIN }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
        
      - name: Send image to Docker Hub
        run: docker push noroyaru/bootcamp:${{ env.IMAGE_TAG }}